<div class="row-fluid">
    <div id="footer" class="span12"> Published By <a href="http://www.cloudwise.com/" target="_blank">云智慧</a></div>
</div>

<script src="/static/js/config.js"></script>
<script src="/static/js/common.js"></script>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/jquery/jquery-fixed.js"></script>
<script src="/vendor/jquery/jquery.ui.custom.js"></script>
<script src="/vendor/bootstrap/bootstrap.min.js"></script>
<script src="/vendor/bootstrap/bootstrap-multiselect.js"></script>
<script src="/vendor/jquery/jquery.uniform.js"></script>
<script src="/vendor/jquery/jquery.dataTables.min.js"></script>
<script src="/vendor/confirm/jquery-confirm.min.js"></script>
<script src="/vendor/flatui/flat-ui.min.js"></script>
<script src="/static/js/matrix.js"></script>
<script src="/static/js/matrix.tables.js"></script>
<!--引入异步请求类包-->
<script src="/static/js/rest.js"></script>