<!DOCTYPE html>
<html lang="en">
<head>
	<title>SAP Network Monitoring</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" href="/vendor/bootstrap/bootstrap-responsive.min.css" />
	<link rel="stylesheet" href="/vendor/bootstrap/bootstrap-multiselect.css">
    <link rel="stylesheet" href="/vendor/confirm/jquery-confirm.min.css" />
    <link rel="stylesheet" href="/vendor/flatui/flat-ui.min.css" />
    <link rel="stylesheet" href="/static/css/matrix-style.css" />
	<link rel="stylesheet" href="/static/css/matrix-media.css" />
	<link href="/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" />


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="/vendor/common/html5shiv.js"></script>
    <script src="/vendor/common/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<!--Header-part-->
{{>topHeader}}
<!--close-Header-part-->

<!--sidebar-menu-->
<div id="sidebar"> </div>

<div id="content">
	<div id="content-header">
		<div id="breadcrumb">
            <a href="/" title="返回首页" class="tip-bottom"><i class="icon-home"></i> 首页</a>
            <a href="" class="current"></a>
        </div>
		<!--<h1>监控任务列表</h1>-->
	</div>
	<div class="container-fluid">
		<!--<hr>-->
		<button class="btn btn-info createButton"><i class="icon-plus"></i> 创建任务</button>
		<button class="btn btn-info returnButton hide"><i class="icon-arrow-left"></i> 返回列表</button>
		<div class="row-fluid">
			<div class="span12 dataList">
				<div class="widget-box fullWidth">
					<div class="widget-content nopadding">
						<table class="table table-bordered data-table">
							<thead>
							<tr>
								<th width="15%">任务</th>
								<th width="20%">路由</th>
								<th width="15%">频率(分钟)</th>
								<th>监测点</th>
								<th width="20%">操作</th>
							</tr>
							</thead>
                            <tbody>
                            </tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="span12 dataEdit hide">
				<div class="widget-box fullWidth">
					<div class="widget-content nopadding formPanel">
						<!--表单页面-->
                        {{>taskEdit}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!--Footer-part-->
{{>bottomFotter}}
<!--end-Footer-part-->
<script type="text/javascript" src="/static/js/matrix.index.js"></script>
<script type="text/javascript">

</script>
</body>
</html>
