<!DOCTYPE html>
<html lang="en">
    
<head>
        <title>SAP系统监控平台</title><meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="/vendor/bootstrap/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="/static/css/matrix-login.css" />
        <link href="/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
	<div id="loginbox">            
        <form id="loginform" class="form-vertical" method="post" action="/api/login">
			 <div class="control-group normal_text"> 
			 	<h3>
			 		<img src="/static/img/logo.png" alt="Logo" />
			 	</h3>
			 </div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_lg"><i class="icon-user"></i></span><input type="text" name="loginName" placeholder="帐户" />
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" name="password" placeholder="密码" />
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <span class="pull-right"><input type="submit" value="登 录" class="btn btn-success"></span>
            </div>

            <div class="loginError">
                {{#result}}<input id="resultCode" type="hidden" value="{{code}}"  />{{/result}}
            </div>
        </form>

    </div>
   <script src="/vendor/jquery/jquery.min.js"></script>
   <script src="/static/js/matrix.login.js"></script>
</body>
</html>