{{#result}}
    {{#data}}
        <tr class="gradeX">
            <td class="taskName">
                <span class="color" data-colorId={{status}}><i class="icon-stop"></i></span>
                <a class="redirectToAnalysis" data-id={{taskId}} >{{name}}</a>
            </td>
            <td>
                {{#jobDesc}}
                    {{router}}
                {{/jobDesc}}
            </td>
            <td>{{interval}}</td>
            <td  data-ids="monitorIds">{{monitorNames}}</td>
            <td class="operate">
               {{#isAvailable}}
                    <input class="enableTask tip-bottom"  data-href="{{taskId}}" data-status={{status}} type="checkbox" checked="checked" data-toggle="switch"  data-on-text="开启" data-off-text="暂停"/>
                 {{/isAvailable}}
                {{^isAvailable}}
                    <input class="enableTask tip-bottom"  data-href="{{taskId}}" data-status={{status}} type="checkbox" data-toggle="switch"  data-on-text="开启" data-off-text="暂停"/>
                {{/isAvailable}}

                <a title="删除" class="deleteTask tip-bottom btn btn-info" data-href="{{taskId}}">删除</a>
                <a title="编辑" class="editTask tip-bottom btn btn-info" data-href="{{taskId}}">编辑</a>
            </td>
        </tr>
    {{/data}}
{{/result}}