<div id="header">
    <div class="logo">
        <h1>
            <a href="/api">SAP Network Monitoring</a>
        </h1>
    </div>

    <!--top-Header-menu-->
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav">
            <li class="">
                <a title="" href="#">
                    <i class="icon icon-wrench"></i>
                    <span class="text logout">设置</span>
                </a>
            </li>
            <li class="">
                <a class="logout" title="" href="/api/logout">
                    <i class="icon icon-share-alt"></i>
                    <span class="text logout">退出</span>
                </a>
            </li>
        </ul>
    </div>
</div>