<a href="#" class="visible-phone"><i class="icon icon-th"></i></a>
<ul>
    <li><a href="/api"><i class="icon icon-th"></i> <span>监控任务</span></a></li>
    <li><a href="/api/analysis"><i class="icon icon-file"></i> <span>数据分析</span></a> </li>
    <li><a href="/api/history"><i class="icon icon-list"></i> <span>历史记录</span></a> </li>
    <li><a href="/api/monitors"><i class="icon icon-barcode"></i> <span>监测点</span></a> </li>
    <li><a href="/api/install"><i class="icon icon-barcode"></i> <span>监测点安装</span></a> </li>
</ul>